body{
    background-color: rgba(0, 0, 0, 0.932);
}
h1{
    font-family: "Times New Roman", Times, serif;
    color:rgb(255, 255, 255);
    font-size: 80px;
    margin:10px;
}
#centre-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;            
}
#val{
    font-size: 100px;
    color: white;
    margin: 10px;
}
#bu1{
    background-color: #244480;
    border: none;
    color: rgba(255, 255, 255, 0.514);
    width: 120px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#bu2{
    background-color: #802424;
    border: none;
    color: rgba(255, 255, 255, 0.514);
    width: 120px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}            